@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

nav a {
  margin-left: 20px;
}

.text-center {
  text-align:center ;
}

.learning-mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.learning-mode figure {
  border: 1px solid #ddd;
  padding: 5px 5px;
  margin: 10px 15px;
  text-align: center;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
